* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  text-decoration: none;
}

.App #logo {
  display: flex;
  align-items: center;
}

.App #logo img {
  height: 60px;
  width: 60px;
}